server:
  port: 8080

database:
  config:
    url: jdbc:postgresql://localhost:54330/ms-email
    username: postgres
    password: root

spring:
  application:
    name: ms-email

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate.format_sql: true

  mail:
    properties:
      mail:
        smtp:
          starttls:
            enable: true
          auth: true
    host: smtp.gmail.com
    username: rafaelbarros.softwareengineer@gmail.com
    password: ***
    port: 587

  rabbitmq:
    uri: amqps://***:***@shrimp.rmq.cloudamqp.com/***
    queue: ms.email




